html{
	height:100%;
}
body{
	width:100%;
	height:100%;
	background-color:#FFFFE0;
}
.heard{
	width:100%;
	height:40px;
	background-color:black;
}
.body{
	width:100%;
}

.nav{
	width:15%;
	float:left;
	border:1px solid #EEE8AA  ;
}
.main{
	width:85%;
	display:inline-block;
	float:left;
	border:1px solid #EEE8AA  ;
	border-left:none;
	position:relative;
}
.tools{
	height:40px;
	width:100%;
	background-color:#F0E68C ;
	position:absolute;
	bottom:0px;
}